* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    /*height: 100vh;*/
    /*color: #303438;*/
    color: rgb(180, 173, 164);
}

#time {
    font-size: 8rem;
}

/*h1 {
    margin-bottom: 3rem;
}*/

h2 {
    opacity: .6;
}

#date {
    font-size: 16px;
}

#name {
    display: inline-block;
}

#name, #focus {
    min-width: 115px;
    outline: none;
}

.input-focus {
    background-color: rgba(193, 185, 185, 0.4);
    border-radius: 10px;
}

.buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.bg-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 24px;
    color: transparent;
}

.bg-button, .next-quote {
    font-weight: bold;
    border: 3px solid #b4ada4;
    text-decoration: none;
    transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
    cursor: pointer;
}

.bg-button:hover, .bg-button:active {
    background-color: #363636;
    border: 3px solid 	#CFCFCF;
    color: #CFCFCF;
    transition: background-color 0.6s ease-in-out,
    color 0.6s ease-in-out;
}

.opacity-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.4);
    background-image: url(../assets/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/*Weather*/

.weather {
    position: relative;
    display: flex;
    width: 220px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 22, 22, 0.2);
    border-radius: 20%;
}

.weather__refresh-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
}

.wrap {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 10px;
}

.weather:hover {
    background-color: rgba(24, 22, 22, 0.5);
}

.weather__refresh-icon img {
    width: 100%;
}

.hide {
    display: none;
}

/*Quotes*/
.quote {
    position: relative;
    min-width: 60%;
    max-width: 65%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 15px 15px;
    background-color: rgba(24, 22, 22, 0.4);
    border-radius: 33px;
}

.quote-author {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
}


.next-quote {
    display: block;
    margin: 20px 0;
    font-weight: bold;
    border: 3px solid 	#363636;
    text-decoration: none;
    transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
    padding: 15px;
    color: 	#b4ada4;
    text-align: center;
}


.next-quote {

}

.next-quote:hover,.next-quote:active {
    background-color: #363636;
    border: 3px solid 	#CFCFCF;
    color: #CFCFCF;
    transition: background-color 0.6s ease-in-out,
    color 0.6s ease-in-out;
}


@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }

    .weather {
        width: 190px;
        height: 90px;
    }


}

@media(max-width: 400px) {
    #time {
        font-size: 4.5rem;
    }

    h1 {
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 18px;
    }

    .quote {
        min-height: auto;
    }
}